CMakeFiles
*.vcx*
*.sln
*.tcl
*.swp
CTestTestfile.cmake
*.obj
cmake_install.cmake
Debug/
Release/
Config
CMakeUserPresets.json
CMakeCache.txt
build
inst
install_manifest.txt
.ninja_lock
.ninja_log
.ninja_deps
*.ninja
