# CMake stuff
############
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Config
install_manifest.txt
launch*.cmd
launch*.sh
Makefile

#OS Stuff
############
.DS_Store

# Build stuff
############
*.log
*.dylib
*.dll
*.so
*.lib
*.exe
*.obj

# MSVC stuff
############
*.exp
*.ipch
*.lastbuildstate
*.manifest
*.opensdf
*.rc
*.res
*.sdf
*.sln
*.suo
*.tlog
*.vc*
WIN32

# XCode stuff
############
*.xcode
*.ilk
*.pdb

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


#Other
*.swp
*.swo
*.bak
*~
